# Ignore all files except specific folders and .cpp files
*

# Allow all .cpp files
!*.cpp

# Allow the following folders
!Algo_01/
!Algo_01_extended/
!Algo_02/
!problems/

# Ensure specific files like README.md, LICENSE, and .gitignore are not ignored
!.gitignore
!README.md
!LICENSE

# Ignore all executables (files without extensions)
**/*
!**/*.cpp
